<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head th:replace="common/fragments/config-fragment :: ConfigFragment">
    <!--    <title layout:title-pattern="$LAYOUT_TITLE : $CONTENT_TITLE">공통 타이틀</title>-->
</head>
<body>
<th:block th:replace="common/fragments/left-navbar" :: LeftNavbarFragment></th:block>
<th:block th:replace="common/fragments/header-fragment" :: headerFragment></th:block>
<script>
    const updateOrderNum =()=>{
        const $menuId = $('.menuId');
        let menuIdList = [];
        for (let i = 0; i < $menuId.length; i++) {
            menuIdList.push($menuId[i].innerText)
        }
        console.log(menuIdList);
        $.ajax({
            type : 'post',
            url : '/api/menubar/orderSeq',
            data : JSON.stringify({menuIdList : menuIdList}),
            dataType : 'json',
            contentType : 'application/json',
            success : (result)=>{
                console.log(result);
                alert('순서변경이 완료됬습니다.');
                location.reload();
            },
            error : (err)=>{
                console.log(err)
            }
        })
    }
    const moveUp =(e)=>{
        let $tr = $(e).parent().parent().parent();
        $tr.prev().before($tr);
    }
    const moveDown =(e)=>{
        let $tr = $(e).parent().parent().parent();
        $tr.next().after($tr);
    }
    const deleteMenu=(id)=>{
        if(confirm('해당 메뉴를 삭제하시겠습니까?')){
            $.ajax({
                type : 'post',
                contentType : 'application/json',
                url : '/api/menubar/delete',
                data : JSON.stringify({
                    menuId : id
                }),
                dataType : 'json',
                success : function(result){
                    alert('삭제완료');
                    location.reload();
                },
                error : function(e){console.log(e)}
            })
        }
    }
</script>
<div class="content-area">
    <h2>메뉴관리</h2>
    <hr>
    <div style="text-align: right;">
        <input class="btn btn-primary" onclick="updateOrderNum()" type="button" value="순서저장">
        <input class="btn btn-primary" onclick="updateMenu()" type="button" value="변경사항 저장">
    </div>
    <script>
        function updateMenu(){
            const $tbody = $('tbody tr');
            let menuParamList = [];
            for (let i = 0; i < $tbody.length; i++) {
                const id = $($tbody[i]).children('td')[0].innerText;//id
                const menuTitle     = $($tbody[i]).children('td')[1].children[0].value//function
                const menuLink      = $($tbody[i]).children('td')[2].children[0].value;//url
                const position      = $($tbody[i]).children('td')[3].children[0].value;//position
                // const state         = $($tbody[i]).children('td')[4].children[0].value;//state
                const orderSeq      =  i+1//order
                const obj = {
                    id          : id,
                    menuTitle   : menuTitle,
                    menuLink    : menuLink,
                    position    : position,
                    // state       : state,
                    orderSeq    : orderSeq
                }
                menuParamList.push(obj);
            }
            console.log(menuParamList);

            $.ajax({
                type        : 'POST',
                url         : '/menubar/update/v2',
                data        : JSON.stringify({list : menuParamList}),
                dataType    : 'json',
                contentType : 'application/json',
                success     : (result)=>{
                    if(result.errorCode === '0000'){
                        alert('수정이 완료되었습니다.');
                        location.reload();
                    }
                },
                error       : (err)=>{}


            })

        }


    </script>
    <div>
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a th:class="'nav-link '+${position == '1' ? 'active' : ''}" class="nav-link active" aria-current="page" href="/menubar/management?position=1">사이드바</a>
            </li>
            <li class="nav-item">
                <a th:class="'nav-link '+${position == '2' ? 'active' : ''}" class="nav-link" href="/menubar/management?position=2">헤더</a>
            </li>
        </ul>
        <table class="table">
            <thead>
            <tr>
                <th>#</th>
                <th>기능</th>
                <th>URL</th>
                <th>위치</th>
                <th>상태</th>
                <th>순서</th>
                <th>삭제</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="menu : ${menubars}">
                <td class="menuId" th:text="${menu.id}"></td>
                <td><input class="form-control menuTitle" th:value="${menu.menuTitle}"/></td>
                <td><input class="form-control link" th:value="${menu.link}"/></td>
                <td>
                        <select class="form-select position" th:classappend="'position-'+${menu.id}">
                            <option th:selected="${menu.position == '1'}" th:value="1" th:text="사이드"></option>
                            <option th:selected="${menu.position == '2'}" th:value="2" th:text="상단"></option>
                        </select>
                </td>
                <td>
                    <div class="form-check form-switch">
                        <input th:checked="${menu.state == '1'}" class="form-check-input state" th:classappend="'state-'+${menu.id}" type="checkbox" role="switch">
                    </div>
                </td>
                <td>
                    <div class="btn-group" role="group" aria-label="Default button group">
                        <button style="width : 10%;" type="button" onclick="moveUp(this)" class="btn btn-outline-primary">⬆</button>
                        <button style="width : 10%;" type="button" onclick="moveDown(this)" class="btn btn-outline-primary">⬇</button>
                    </div>
                </td>
                <td>
                    <button class="btn btn-outline-secondary" type="button" th:onclick="|deleteMenu(${menu.id})|">
                        삭제
                    </button>
                </td>
            </tr>
            </tbody>
            <tfoot></tfoot>
        </table>
    </div>
</div>
</body>
<script>
    function update(id){
        const position = $('.position-'+id).val();
        const state = $('.state-'+id).checked ? '1' : '2';
        const params = {
            id : id,
            state : state,
            position : position
        }
        $.ajax({
            method : 'put',
            url : '/menubar/update',
            data : JSON.stringify(params),
            contentType : 'application/json',
            dataType : 'json',
            success : (data)=>{
                console.log(data);
            },
            error : (e)=>{console.log(e);}
        })
    }
</script>
</html>