<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head th:replace="common/fragments/config-fragment :: ConfigFragment">
<style>
    .delete {
        color: red;
    }
    .container-table {
        min-width: 1000px; /* 원하는 너비 */
        min-height: 200px; /* 원하는 높이 */
        overflow-x: auto; /* 스크롤바 표시 */
    }

    table {
        /*width: 3000px;*/
        /*width: 100%; !* 부모 컨테이너에 맞게 테이블 너비 조정 *!*/
    }

    td, th {
        white-space: nowrap; /* 줄 바꿈 방지 */
    }

    th {
        z-index: 1;
    }

    thead {
        position: sticky;
        top: 0;
        background-color: white;
    }
    .order-list-container{
        max-height : 500px;
    }
</style>

<body>
<script>
    <!--    common function-->
    function checkedStatementIdList() {
        let $checked = $('.checkbox-input:checked');
        let statementIdList = [];
        for (let i = 0; i < $checked.length; i++) {
            statementIdList.push($checked[i].value);
        }
        return statementIdList;
    }


</script>
<th:block th:replace="common/fragments/left-navbar" :: LeftNavbarFragment></th:block>
<th:block th:replace="common/fragments/header-fragment" :: headerFragment></th:block>
<div class="content-area">
    <h2>콜센터</h2>
    <hr>
    <div>
        <div class="input-group" style="width : 75%; margin-right: 5%; float: left;">
            <select style="width : 20%;"
                    name="vendorId" class="form-select" id=""
                    aria-label="Example select with button addon">
                <option value="0" selected>거래선*</option>
                <option th:each="vendor : ${vendorList}" th:value="${vendor.id}"
                        th:text="${vendor.vendorName}"></option>
            </select>
            <select style="width : 20%;"
                    name="searchCriteria" class="form-select" id="inputGroupSelect04"
                    aria-label="Example select with button addon">
                <option selected value="1">주문번호</option>
                <option value="2">판매번호</option>
                <option value="3">납품번호</option>
                <option value="4">고객명</option>
                <option value="5">전화번호</option>
            </select>
            <input style="width : 60%;"
                   name="searchContent" class="form-control" type="text" value="">
        </div>
        <div style="float : left; width : 20%;" class="input-group">
            <button style="width : 100%;" onclick="searchSalesInfo()" class="btn btn-primary">검색</button>
        </div>
    </div>
    <div class="order-list-container">
        <table class="table overflow-scroll">
            <thead>
            <tr>
                <th>거래선</th>
                <th>주문번호</th>
                <th>배송번호</th>
                <th>고객명</th>
                <th>연락처</th>
                <th>주소</th>
                <th>상태</th>
            </tr>
            </thead>
            <tbody class="order-list"></tbody>
        </table>
    </div>


    <div class="container-order-info" style="">
        <div class="input-group mb-3" style="width : 32%; margin-right : 2%; float: left;">
            <span class="input-group-text" id="vendor-info">거래선</span>
            <input type="text" name="salesNo" class="form-control" readonly value="" aria-label="Sizing example input"
                   aria-describedby="inputGroup-sizing-default">
        </div>
        <div class="input-group mb-3" style="width : 32%; margin-right : 2%; float: left;">
            <span class="input-group-text" id="sales-no">판매번호</span>
            <input type="text" name="salesNo" class="form-control" readonly value="" aria-label="Sizing example input"
                   aria-describedby="inputGroup-sizing-default">
        </div>
        <div class="input-group mb-3" style="width : 32%; margin-left : 0%; float: left;">
            <span class="input-group-text" id="delivery-req-dt">배송요청일</span>
            <input type="date" name="deliveryReqDt" class="form-control" readonly value=""
                   aria-label="Sizing example input"
                   aria-describedby="inputGroup-sizing-default">
        </div>
    </div>

    <div class="container-table">
        <div class="input-group mb-3">
            <span class="input-group-text" id="customer-name">고객명</span>
            <input type="text" name="customerName" class="form-control" value="" aria-label="Sizing example input"
                   aria-describedby="inputGroup-sizing-default">
        </div>
        <div class="input-group mb-3">
            <span class="input-group-text" id="customer-phone-number">연락처</span>
            <input type="text" name="customerPhoneNumber" value="" class="form-control"
                   aria-label="Sizing example input"
                   aria-describedby="inputGroup-sizing-default">
        </div>
        <div class="input-group mb-3">
            <span class="input-group-text">주소</span>
            <input list="addressList" type="text" name="customerAddressFirst" value="" aria-label="시/도"
                   class="form-control" placeholder="시/도">
            <datalist id="addressList">
                <option th:each="deliveryArea : ${deliveryAreaList}" th:value="${deliveryArea}"></option>
            </datalist>
            <input type="text" name="customerAddressSecond" value="" aria-label="군/구" class="form-control"
                   placeholder="군/구">
            <input type="text" name="customerAddressThird" value="" aria-label="읍/면/동" class="form-control"
                   placeholder="읍/면/동">
        </div>
        <div class="input-group mb-3">
            <span class="input-group-text" id="customer-address-detail">상세주소</span>
            <input type="text" name="customerAddressDetail" value="" class="form-control"
                   aria-label="Sizing example input"
                   aria-describedby="inputGroup-sizing-default">
        </div>
        <div class="input-group mb-3">
            <span class="input-group-text" id="remarks">비고사항</span>
            <input type="text" name="remarks" class="form-control" value="" aria-label="Sizing example input"
                   aria-describedby="inputGroup-sizing-default">
        </div>
    </div>
    <div>
        <table class="table">
            <thead>
            <tr>
                <th>#</th>
                <th>메모</th>
                <th>상담자</th>
                <th>상담일</th>
                <th>등록일</th>
            </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</div>

</body>
<script>
    const numberComa = (numbar) => {
        return numbar.toString().replace(/\B(?<!\.\d*)(?=(\d{3})+(?!\d))/g, ",");
    }

    const orderInfoAndCallHistory =(orderId)=>{
        $.ajax({
            type : 'GET',
            url : `/api/callcenter/history?orderId=${orderId}`,
            success : (result)=>{
                console.log(result);
            },
            error : (err)=>{
                console.log(err);
            }
        })
    }
    const searchSalesInfo = () => {
        let vendorId = $('select[name="vendorId"]').val();
        let criteria = $('select[name="searchCriteria"]').val();
        let content = $('input[name="searchContent"]').val();

        $.ajax({
            type: 'GET',
            url: `/api/callcenter/search?vendorId=${vendorId}&criteria=${criteria}&content=${content}`,
            dataType: 'json',
            success: (result) => {
                console.log(result);
                let txt = '';
                result.result.forEach((item, idx) => {
                    txt += `<tr>`
                    txt += `<td>${item.vendorName}</td>`
                    txt += `<td><a href="#" onclick="orderInfoAndCallHistory(${item.orderId})">${item.orderId}</a></td>`
                    txt += `<td>${item.deliveryId}</td>`
                    txt += `<td>${item.customerName}</td>`
                    txt += `<td>${item.customerPhoneNumber}</td>`
                    txt += `<td>${item.customerAddressFirst}</td>`
                    txt += `<td>${item.state}</td>`
                    txt += `<tr>`
                })
                $('.order-list').empty().append(txt);
            },
            error: (err) => console.log
        })
    }


</script>


</html>