<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head th:replace="common/fragments/config-fragment :: ConfigFragment">
<body>
<th:block th:replace="common/fragments/left-navbar" :: LeftNavbarFragment></th:block>
<th:block th:replace="common/fragments/header-fragment" :: headerFragment></th:block>
<div class="content-area">
    <h2>발주등록</h2>
    <hr>
    <form action="/productCord" method="post">
        거래선 , 판매번호 ,
        이름 , 연락처1,2 , 주소, 비고,
        상품코드 , 수량
        요구납기일
        <div style="padding-bottom: 5px;">
            <select name="vendorId" id="vendor-select" class="form-select">
                <option th:each="vendor : ${vendorList}"
                        th:text="${vendor.vendorName}"
                        th:value="${vendor.id}"
                ></option>
            </select>
            <label for="vendor-select"></label>
        </div>
        <div class="input-group mb-3">
            <span class="input-group-text" id="sales-no">판매번호</span>
            <input type="text" name="sales-no" class="form-control" aria-label="Sizing example input"
                   aria-describedby="inputGroup-sizing-default">
        </div>
        <div class="input-group mb-3">
            <span class="input-group-text" id="customer-name">고객명</span>
            <input type="text" name="sales-no" class="form-control" aria-label="Sizing example input"
                   aria-describedby="inputGroup-sizing-default">
        </div>
        <div class="input-group mb-3">
            <span class="input-group-text" id="customer-phone-number">연락처</span>
            <input type="text" name="sales-no" class="form-control" aria-label="Sizing example input"
                   aria-describedby="inputGroup-sizing-default">
        </div>
        <div class="input-group mb-3">
            <span class="input-group-text" id="customer-address-first">시/도</span>
            <input type="text" name="customerAddressFirst" class="form-control" aria-label="Sizing example input"
                   aria-describedby="inputGroup-sizing-default">
        </div>
        <div class="input-group mb-3">
            <span class="input-group-text" id="customer-address-second">군/구</span>
            <input type="text" name="customerAddressSecond" class="form-control" aria-label="Sizing example input"
                   aria-describedby="inputGroup-sizing-default">
        </div>
        <div class="input-group mb-3">
            <span class="input-group-text" id="customer-address-third">읍/면/동</span>
            <input type="text" name="customerAddressThird" class="form-control" aria-label="Sizing example input"
                   aria-describedby="inputGroup-sizing-default">
        </div>
        <div class="input-group mb-3">
            <span class="input-group-text" id="customer-address-detail">상세주소</span>
            <input type="text" name="customerAddressDetail" class="form-control" aria-label="Sizing example input"
                   aria-describedby="inputGroup-sizing-default">
        </div>
        <div class="input-group mb-3">
            <span class="input-group-text" id="delivery-req-dt">배송요청일</span>
            <input type="date" name="deliveryReqDt" class="form-control" aria-label="Sizing example input"
                   aria-describedby="inputGroup-sizing-default">
        </div>
        <div class="input-group mb-3">
            <span class="input-group-text" id="remarks">비고사항</span>
            <input type="text" name="customerAddressDetail" class="form-control" aria-label="Sizing example input"
                   aria-describedby="inputGroup-sizing-default">
        </div>
        <table class="table">
            <thead>
            <tr>
                <th><input type="checkbox"></th>
                <th>상품코드</th>
                <th>모델코드</th>
                <th>수량</th>
                <th>공급가</th>
            </tr>
            </thead>
            <tbody>
            </tbody>
            <tfoot>
            <tr>
                <td></td>
                <td><input type="text" id="productCordEnter"></td>
                <td></td>
                <td></td>
                <td><input type="button" value="삭제"></td>
            </tr>
            </tfoot>
        </table>
        <script>
            $('#productCordEnter').keyup((event) => {
                if (event.keyCode != 13) {
                    return
                }
                // console.log(event.value);
                // console.log(this);
                // console.log($(this));


                const productCord = $('#productCordEnter').val();
                // console.log(productCord)
                const vendorId = $('#vendor-select').val();
                // const params = JSON.stringify({
                //     productCord : productCord,
                //     vendorId : vendorId
                // });
                console.log(productCord, vendorId)
                $.ajax({
                    type: 'GET',
                    url: `/api/productModelInfo?productCord=${productCord}&vendorId=${vendorId}`,
                    dataType: 'json',
                    success: (result) => {
                        console.log(result);
                        let txt = '';
                        txt +=
                            `<tr>
                            <td><input type="checkbox"/></td>
                            <td class="productCord"><input class="productCord" type="text" value="${result.result.productCord}"></td>
                            <td class="modelCord"><input class="modelCord" type="text" value="${result.result.modelCord}"></td>
                            <td class="quantity"><input class="quantity" value="1" type="number" min="0" max="999" onchange="changeQuantity(this,${result.result.supplyPrice})"/></td>
                            <td class="suplyPrice"><input class="supplyPrice" type="text" value="${result.result.supplyPrice}"></td>
                            </tr>`;
                        $('tbody').append(txt);

                    },
                    error: (error) => {
                        console.log(error);
                        alert('통신에러입니다.');
                    }
                });
            });
            const changeQuantity=(e,supplyPrice)=>{
                console.log(e);
                console.log(supplyPrice);
                const quantity = e.value;
                console.log('quantity : ',quantity);
                $(e).parent('td').next('td').innerHTML = e.value * supplyPrice;

            }
        </script>
    </form>
</div>

</body>
</html>