<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head th:replace="common/fragments/config-fragment :: ConfigFragment">
<body>
<th:block th:replace="common/fragments/left-navbar" :: LeftNavbarFragment></th:block>
<th:block th:replace="common/fragments/header-fragment" :: headerFragment></th:block>
<div class="content-area">
    <h2>주문관리</h2>
    <hr>
    <div>
        <span style="float: left; width : 50%;"></span>

    </div>
    <div>
        <div class="input-group">
            <select name="vendorId" style="width:15%;" class="form-select" id="" aria-label="Example select with button addon">
                <option selected>거래선*</option>
                <option th:each="vendor : ${vendorList}" th:value="${vendor.id}" th:text="${vendor.vendorName}"></option>
            </select>
            <select name="searchCriteria" style="width:15%;" class="form-select" id="inputGroupSelect04" aria-label="Example select with button addon">
                <option selected value="1">주문번호</option>
                <option value="2">판매번호</option>
                <option value="3">납품번호</option>
            </select>
            <input name="searchContent" style="width:70%;" class="form-control" type="text" value="">
        </div>
        <div style="margin-top : 20px;">
            <div class="input-group" style="width : 30%; float: left; margin-right: 3%;">
                <span class="input-group-text">주문생성일*</span>
                <input name="orderCreateStartDt" max="9999-12-31" type="date" class="form-control">
                <input name="orderCreateEndDt" max="9999-12-31" type="date" class="form-control">
            </div>
            <div class="input-group" style="width : 20%; float: left; margin-right: 3%;">
                <span class="input-group-text">주문상태</span>
                <select name="orderState" class="form-select" style="float:left;width:10%;">
                    <option selected>전체</option>
                    <option>생성</option>
                    <option>미생성</option>
                </select>
            </div>
            <div class="input-group" style="width : 30%; float: left; margin-right: 3%;">
                <span class="input-group-text">모델코드</span>
                <input name="modelCord" type="text" class="form-control">
            </div>
            <button onclick="searchOrder()" style="width : 10%;" class="btn btn-primary">검색</button>
        </div>
<!--        <input class="form-control" type="text">-->
    </div>
    <div style="margin-top : 30px;">
        <table class="table">
            <thead>
            <tr>
                <th><input type="checkbox"></th>
                <th>발주번호</th>
                <th>주문번호</th>
                <th>판매번호</th>
                <th>상품코드</th>
                <th>모델코드</th>
                <th>TC</th>
                <th>주문생성일</th>
                <th>요구납기일</th>
                <th>배송예정일</th>
                <th>납품번호</th>
                <th>배송여부</th>
            </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>

</div>

</body>
<script>

    const searchOrder=()=>{
        let vendorId = $('select[name="vendorId"]').val();
        let searchCriteria = $('select[name="searchCriteria"]').val();
        let searchContent = $('input[name="searchContent"]').val();
        let orderCreateStartDt = $('input[name="orderCreateStartDt"]').val();
        let orderCreateEndDt = $('input[name="orderCreateEndDt"]').val();
        let orderState = $('input[name="orderState"]').val();
        let modelCord = $('input[name="modelCord"]').val();
        const params = {
            vendorId            : vendorId,
            searchCriteria      : searchCriteria,
            searchContent       : searchContent,
            orderCreateStartDt  : orderCreateStartDt,
            orderCreateEndDt    : orderCreateEndDt,
            orderState          : orderState,
            modelCord           : modelCord
        }

        $.ajax({
            type : 'post',
            url : '/api/order/list',
            dataType : 'json',
            contentType : 'application/json',
            data : JSON.stringify(params),
            success: (result)=>{
                console.log(result);
                let txt = '';
                result.result.forEach((item,idx)=>{
                    txt += `<tr>`;
                    txt += `<td>${item.statementId}</td>`;
                    txt += `<td>${item.orderId}</td>`;
                    txt += `<td>${item.salesNo}</td>`;
                    txt += `<td>${item.salesNo}</td>`;
                    txt += `<td>${item.salesNo}</td>`;
                })
                $('tbody').empty().append(txt);
            }
            ,
            error : (err)=>console.log
        })
    }


</script>



</html>