<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head th:replace="common/fragments/config-fragment :: ConfigFragment">
<body>
<th:block th:replace="common/fragments/left-navbar" :: LeftNavbarFragment></th:block>
<th:block th:replace="common/fragments/header-fragment" :: headerFragment></th:block>
<div class="content-area">
    <h2>주문관리</h2>
    <hr>
    <div>
        <div style="width : 150px;">
            <select class="form-select">
                <option>거래선</option>
                <option></option>
                <option></option>
            </select>
            <select class="form-select">
                <option>주문번호</option>
                <option>발주번호</option>
                <option>고객명</option>
            </select>
        </div>
        <input class="form-control" type="text">
        <input class="form-control" type="text">
        <button class="btn btn-primary">검색</button>
    </div>
    <div>
        <table class="table">
            <thead>
            <tr><input type="checkbox"></tr>
            <tr>주문번호</tr>
            <tr>판매번호</tr>
            <tr>상품코드</tr>
            <tr>모델코드</tr>
            <tr>TC</tr>
            <tr>요구납기일</tr>
            <tr>배송예정일</tr>
            <tr>납품번호</tr>
            <tr>배송여부</tr>
            </thead>
        </table>
    </div>

</div>

</body>
</html>