<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head th:replace="common/fragments/config-fragment :: ConfigFragment">

<body>
<th:block th:replace="common/fragments/left-navbar" :: LeftNavbarFragment></th:block>
<th:block th:replace="common/fragments/header-fragment" :: headerFragment></th:block>
<div class="content-area">
    <h2>제품 카테고리 관리</h2>
    <hr>
<form action="/product/category" method="post" >
    <div class="form-floating mb-3">
        <input name="productCategory" type="text" class="form-control" id="floatingInput" placeholder="제품 카테고리를 입력하세요">
        <label for="floatingInput">제품 카테고리를 입력하세요</label>
    </div>
<!--    <div class="form-floating mb-3">-->
<!--        <select class="form-select">-->
<!--            <option th:text="대형가전"></option>-->
<!--            <option th:text="소형가전"></option>-->
<!--        </select>-->
<!--    </div>-->
    <div class="d-grid gap-2">
        <button class="btn btn-primary">저장</button>
    </div>
</form>
    <div style="height : 50px;"></div>
<table class="table">
    <thead>
        <tr>
            <th>No</th>
            <th>항목</th>
            <th>등록자</th>
            <th>등록일</th>
        </tr>
    </thead>
    <tbody>
        <tr th:each="category:${productCategoryList}">
            <td th:text="${category.id}"></td>
            <td th:text="${category.productCategory}"></td>
            <td th:text="${category.memberId}"></td>
            <td th:text="${category.regDt}"></td>
        </tr>
    </tbody>
</table>
</div>
</body>
</html>