<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head th:replace="common/fragments/config-fragment :: ConfigFragment">

<body>
<style>
    .delete {
        color: red;
    }
</style>
<script>
    <!--    common function-->
    function checkedStatementIdList() {
        let $checked = $('.checkbox-input:checked');
        let statementIdList = [];
        for (let i = 0; i < $checked.length; i++) {
            statementIdList.push($checked[i].value);
        }
        return statementIdList;
    }


</script>
<th:block th:replace="common/fragments/left-navbar" :: LeftNavbarFragment></th:block>
<th:block th:replace="common/fragments/header-fragment" :: headerFragment></th:block>
<div class="content-area">
    <h2>매출조회</h2>
    <hr>
    <div>
        <div style="float : left; width : 25%; margin-right: 5%;">
            <select
                    name="vendorId" class="form-select" id=""
                    aria-label="Example select with button addon">
                <option value="0" selected>거래선*</option>
                <option th:each="vendor : ${vendorList}" th:value="${vendor.id}"
                        th:text="${vendor.vendorName}"></option>
            </select>
        </div>
        <div class="input-group" style="float : left; width : 35%; margin-right: 5%;">
            <span class="input-group-text">매출생성일</span>
            <input name="salesCreateStartDt" max="9999-12-31" type="date" class="form-control">
            <input name="salesCreateEndDt" max="9999-12-31" type="date" class="form-control">
            <script>
                $('input[type="date"]')[0].valueAsDate = new Date();
                $('input[type="date"]')[1].valueAsDate = new Date();
            </script>
        </div>
        <div style="float : left; width : 25%; margin-right: 5%;" class="input-group">
            <button style="width : 50%;" onclick="searchSalesInfo()" class="btn btn-primary">검색</button>
        </div>
    </div>
    <div>
        <input type="text" id="supplyPrice" disabled/>
        <input type="text" id="supplyPriceVat" disabled/>
        <input type="text" id="totalPrice" disabled/>
    </div>
    <style>
        .container-table {
            min-width: 1000px; /* 원하는 너비 */
            min-height: 200px; /* 원하는 높이 */
            overflow-x: auto; /* 스크롤바 표시 */
        }

        table {
            width: 3000px;
            /*width: 100%; !* 부모 컨테이너에 맞게 테이블 너비 조정 *!*/
        }

        td, th {
            white-space: nowrap; /* 줄 바꿈 방지 */
        }

        th {
            z-index: 1;
        }

        thead {
            position: sticky;
            top: 0;
            background-color: white;
        }
    </style>

    <div class="container-table">

        <table class="table">
            <thead>
            <tr>
                <!--                    <th><input id="all-check" class="form-check-input" type="checkbox"></th>-->
                <th>매출번호</th>
                <th>납품번호</th>
                <th>주문번호</th>
                <th>전표번호</th>
                <th>순서</th>
                <th>거래선</th>
                <th>판매번호</th>
                <th>주문생성일</th>
                <th>배송완료일</th>
                <th>매출완료일</th>
                <th>고객명</th>
                <th>상품코드</th>
                <th>모델코드</th>
                <th>수량</th>
                <th>공급가</th>
                <th>부가세</th>
            </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</div>

</body>
<script>

    const searchSalesInfo = () => {
        let vendorId = $('select[name="vendorId"]').val();
        let salesCreateStartDt = $('input[name="salesCreateStartDt"]').val();
        let salesCreateEndDt = $('input[name="salesCreateEndDt"]').val();

        $.ajax({
            type: 'GET',
            url: `/api/salesInfo?vendorId=${vendorId}&startDt=${salesCreateStartDt}&endDt=${salesCreateEndDt}`,
            dataType: 'json',
            success: (result) => {
                console.log(result);
                let txt = 'test';
                let totalSupplyPrice = 0;
                let totalSupplyPriceVat = 0;
                result.result.forEach((item, idx) => {
                    let supplyPrice = item.orderQuantity * item.supplyPrice;
                    let supplyPriceVat = item.orderQuantity * item.supplyPriceVat;
                    totalSupplyPrice += supplyPrice;
                    totalSupplyPriceVat += supplyPriceVat;
                    //
                    txt += `<tr>`;
                    txt += `<td>${item.id}</td>`;
                    txt += `<td>${item.deliveryId}</td>`;
                    txt += `<td>${item.orderId}</td>`;
                    txt += `<td>${item.statementId}</td>`;
                    txt += `<td>${item.orderSeq}</td>`;
                    txt += `<td>${item.vendorName}</td>`;
                    txt += `<td>${item.salesNo}</td>`;
                    txt += `<td>${item.orderRegDt}</td>`;
                    txt += `<td>${item.deliveryCompletionDt}</td>`;
                    txt += `<td>${item.salesRegDt}</td>`;
                    txt += `<td>${item.customerName}</td>`;
                    txt += `<td>${item.productCord}</td>`;
                    txt += `<td>${item.modelCord}</td>`;
                    txt += `<td>${item.orderQuantity}</td>`;
                    txt += `<td>${supplyPrice}</td>`;
                    txt += `<td>${supplyPriceVat}</td>`;
                    txt += `</tr>`;
                })
                $('tbody').empty().append(txt);
                $('#supplyPrice').val(totalSupplyPrice);
                $('#supplyPriceVat').val(totalSupplyPriceVat);
                $('#totalPrice').val(totalSupplyPrice+totalSupplyPriceVat);
            },
            error: (err) => console.log
        })
    }


</script>


</html>