<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.gamsung.scmproject.callcenter.mapper.CallcenterMapper">

    <select id="selectOrderInfoList"
            resultType="com.gamsung.scmproject.callcenter.vo.CallcenterSearchResultVo">
        SELECT
            vi.vendorName ,
            oi.id AS orderId,
            s.salesNo,
            s.customerName ,
            s.customerPhoneNumber ,
            s.customerAddressFirst ,
            di.id AS deliveryId,
            di.state
        FROM
            orderInfo oi
                INNER JOIN `statement` s ON oi.statementId  = s.id
                INNER JOIN vendorInfo vi ON vi.id = s.vendorId
                INNER JOIN deliveryInfo di ON di.orderId = oi.id
        WHERE
            s.vendorId = #{vendorId}
        <if test="criteria == '1'.toString()">
            AND oi.id = #{content}
        </if>
        <if test="criteria == '2'.toString()">
            AND salesNo = #{content}
        </if>
        <if test="criteria == '3'.toString()">
            AND deliveryId = #{content}
        </if>
        <if test="criteria == '4'.toString()">
          AND customerName LIKE CONCAT('%',#{content},'%')
        </if>
        <if test="criteria == '5'.toString()">
            AND customerPhoneNumber = #{content}
        </if>
    </select>
    <select id="selectCallHistoryList" resultType="com.gamsung.scmproject.callcenter.vo.HistoryInfoVo">
        SELECT
            id,
            orderId,
            memo,
            regDt,
            state,
            regMemberId
            FROM
        callHistory
        WHERE 1=1
        AND orderId = #{orderId}
    </select>
    <select id="selectOrderInfo" resultType="com.gamsung.scmproject.callcenter.vo.CallcenterOrderInfoVo">
        SELECT
            vi.vendorName ,
            s.salesNo ,
            s.deliveryReqDt ,
            s.customerName ,
            s.customerPhoneNumber ,
            s.customerAddressFirst ,
            s.customerAddressSecond ,
            s.customerAddressThird ,
            s.customerAddressDetail ,
            s.remarks ,
            di.expectedDeliveryDt ,
            di.deliveryCompletionDt ,
            di.tc ,
            dis.staffName ,
            dis.staffPhoneNum
        FROM
            orderInfo oi
                INNER JOIN `statement` s ON s.id = oi.statementId
                INNER JOIN deliveryInfo di ON di.id = oi.statementId
                INNER JOIN vendorInfo vi ON vi.id = s.vendorId
                INNER JOIN deliveryInstallationStaff dis ON di.deliveryStaffId = dis.id
        WHERE oi.id = #{orderId}

    </select>
</mapper>
