<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.gamsung.scmproject.callcenter.mapper.CallcenterMapper">
    <select id="selectOrderInfoWithCallHistory"
            resultType="com.gamsung.scmproject.callcenter.vo.OrderInfoWithCallHistoryVo">
        SELECT * FROM
            orderInfo
WHERE 1=1
AND vendorId = #{vendorId}
AND orderId = #{content}
AND statementId = #{content}
AND deliveryId = #{content}
AND customerName = #{content}
AND customerPhoneNum = #{content}

    </select>
    <select id="selectCallHistoryList" resultType="com.gamsung.scmproject.callcenter.vo.HistoryInfoVo"></select>
</mapper>

<!--        SELECT-->
<!--        vi.id AS vendorId,-->
<!--        oi.statementId ,-->
<!--        s.salesNo ,-->
<!--        s.deliveryReqDt,-->
<!--        s.customerName ,-->
<!--        s.customerPhoneNumber ,-->
<!--        s.customerAddressFirst ,-->
<!--        s.customerAddressSecond ,-->
<!--        s.customerAddressThird ,-->
<!--        s.customerAddressDetail ,-->
<!--        s.remarks ,-->
<!--        oi.id AS orderId ,-->
<!--        di.id AS deliveryId ,-->
<!--        di.expectedDeliveryDt ,-->
<!--        di.deliveryCompletionDt ,-->
<!--        di.state ,-->
<!--        di.tc ,-->
<!--        di.deliveryStaffId ,-->
<!--        dis.tc ,-->
<!--        dis.staffName ,-->
<!--        dis.staffPhoneNum-->
<!--        FROM orderInfo oi-->
<!--        INNER JOIN `statement` s ON s.id = oi.statementId-->
<!--        INNER JOIN deliveryInfo di ON di.orderId = oi.id-->
<!--        INNER JOIN vendorInfo vi ON vi.id = s.vendorId-->
<!--        INNER JOIN deliveryInstallationStaff dis ON di.deliveryStaffId = dis.id-->
<!--        WHERE 1=1-->
<!--        AND s.vendorId = 1000000-->
<!--        AND orderId = 100000000-->
<!--        AND statementId = 4-->
<!--        AND di.id = 1-->
<!--        AND customerName = '이승규1'-->
<!--        AND customerPhoneNumber = '01012341234'-->
<!--        ;-->