<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.gamsung.scmproject.member.mapper.MemberMapper">
    <insert id="insertMember">
        INSERT INTO member
        (`department`,
         `name`,
         `email`,
         `password`,
         `birth`,
         `state`,
         `role`)
        VALUES ( #{department},
                #{name},
                 #{email},
                 #{password}
               , #{birth}
               , #{state}
               , #{role})
    </insert>
    <select id="selectMemberForLogin" resultType="com.gamsung.scmproject.member.vo.MemberVo">
        SELECT
            `id`,`department`,`email`,`password`,`birth`,`state`,`role`
        FROM
            member
        WHERE `id` = #{id} AND `state` = '1'
        ORDER BY `id` DESC
    </select>
    <select id="duplicateEmailCheck" resultType="java.lang.Integer">
    SELECT count(email) FROM member WHERE email = #{param1} AND state = '1'
    </select>
    <select id="selectDepartmentList" resultType="com.gamsung.scmproject.common.vo.DepartmentVo">
        SELECT id , department FROM department
    </select>
    <select id="selectMemberList" resultType="com.gamsung.scmproject.member.vo.MemberVo">
        SELECT id,department,name,email,birth,state FROM member
    </select>


</mapper>