<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.gamsung.scmproject.menubar.mapper.MenuBarMapper">


    <insert id="insertManuBar" parameterType="com.gamsung.scmproject.menubar.vo.MenubarInfoVo">
        INSERT INTO menubar (menuTitle,link,position,state) VALUES (#{menuTitle},#{link},#{position},'1')
    </insert>
    <select id="selectMenubar" resultType="com.gamsung.scmproject.menubar.vo.MenubarInfoVo">
        SELECT id,menuTitle,link,position,state
        FROM menubar
        WHERE position = #{position}
        AND state = '1'
        ORDER BY orderSeq ASC
    </select>
    <select id="selectMenubarAllForManagement" resultType="com.gamsung.scmproject.menubar.vo.MenubarInfoVo">
        SELECT id,menuTitle,link,position,state
        FROM menubar
        WHERE position = #{position}
        ORDER BY orderSeq ASC
    </select>
    <update id="updateMenuBar" parameterType="com.gamsung.scmproject.menubar.vo.MenubarInfoVo">
    UPDATE `menubar` SET state = #{state} , position = #{position}
    WHERE id = #{id}
    </update>
    <update id="updateMenuOrderSeq">
        UPDATE `menubar` SET
        orderSeq = #{cnt}
        WHERE id = #{menuId}
    </update>
    <delete id="deleteMenu">
    DELETE FROM menubar
    WHERE id = #{menuId}
    </delete>

</mapper>
