<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.gamsung.scmproject.order.mapper.OrderMapper">

    <insert id="insertStatement"
            parameterType="com.gamsung.scmproject.order.vo.OrderRegistrationInfoVo"
            useGeneratedKeys="true"
            keyColumn="id"
            keyProperty="id"
    >
    INSERT INTO `statement`
    (
         salesNo,
         customerName,
         customerPhoneNumber,
         customerAddressFirst,
         customerAddressSecond,
         customerAddressThird,
         customerAddressDetail,
         deliveryReqDt,
         remarks,
         state,
         vendorId,
         regMemberId,
        regDt
    )
    VALUES
        (
         #{salesNo},
         #{customerName},
         #{customerPhoneNumber},
         #{customerAddressFirst},
         #{customerAddressSecond},
         #{customerAddressThird},
         #{customerAddressDetail},
         #{deliveryReqDt},
         #{remarks},
         #{state},
         #{vendorId},
         #{regMemberId},
         now()
        )
    </insert>
    <insert id="insertOrderProducts"
            parameterType="java.util.List"
    >
        INSERT INTO
        `statementProductCord`
        (
         `statementId`,
         `orderSeq`,
         `productCord`,
         `orderQuantity`,
         `state`
        )
        VALUES
            <foreach collection="list" item="item" separator=",">
                (
                 #{item.statementId},
                 #{item.orderSeq},
                 #{item.productCord},
                 #{item.orderQuantity},
                 '1'
                )
            </foreach>

    </insert>
    <insert id="insertOrderInfo"
    parameterType="com.gamsung.scmproject.order.vo.OrderRegistrationInfoVo">
        INSERT INTO orderInfo
            (statementId,
             orderState,
             regDt,
             deliveryReqDt,
             state)
        VALUES
            (#{id},
            '1',
            now(),
            #{deliveryReqDt},
            '1')
    </insert>
</mapper>