<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.gamsung.scmproject.productCategory.mapper.ProductCategoryMapper">
    <select id="selectProductCategoryList"
            resultType="com.gamsung.scmproject.productCategory.vo.ProductCategoryVo">

        SELECT
        pc.id,
        pc.productCategory ,
        pc.memberId ,
        m.name,
        pc.state,
        pc.regDt
        FROM productCategory pc
        INNER JOIN `member` m ON pc.memberId = m.id
        <if test="state eq '1'.toString()">
            WHERE pc.state = 1
        </if>
    </select>
    <select id="selectProductStatusList" resultType="com.gamsung.scmproject.productModel.vo.ProductStatusVo">
    SELECT id , productStatus
    FROM productStatus
    </select>

    <insert id="insertProductCategory">
        INSERT INTO productCategory
            (
             productCategory,
             memberId
            )
        VALUES
            (
             #{productCategory},
             #{memberId}
            )
    </insert>


</mapper>