<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.gamsung.scmproject.productModel.mapper.ProductModelMapper">
    <select id="selectProductModelAll" resultType="com.gamsung.scmproject.productModel.vo.ProductModelForListVo">
        SELECT
            pmi.id
             , pmi.productCategoryId
             , pc.productCategory
             , pmi.modelCord
             , pmi.stock
             , pmi.regDt
             , pmi.productStatusId
             , ps.productStatus
             , pmi.memberId
             , m.name
        FROM productModel pmi
                 inner join productCategory pc on pmi.productCategoryId = pc.id
                 inner join `member` m on pmi.memberId = m.id
                 inner join productStatus ps on pmi.productStatusId = ps.id
    </select>
    <select id="selectProductModelByProductCategoryId"
            resultType="com.gamsung.scmproject.productModel.vo.ProductModelVo">
        SELECT id , modelCord FROM productModel WHERE productCategoryId = #{productCategoryId}


    </select>

    <insert id="insertProductModel" parameterType="com.gamsung.scmproject.productModel.vo.ProductModelVo">
        INSERT INTO
        productModel
        (
         productCategoryId
        ,modelCord
        ,stock
        ,productStatusId
        ,memberId
        )
        VALUES
        (
         #{productCategoryId}
         ,#{modelCord}
         ,#{stock}
         ,#{productStatusId}
         ,#{loginId}
         )
    </insert>

</mapper>