<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head th:replace="common/fragments/config-fragment :: ConfigFragment">

<body>
<style>

</style>
<script>
    <!--    common function-->
    function checkedStatementIdList() {
        let $checked = $('.checkbox-input:checked');
        let statementIdList = [];
        for (let i = 0; i < $checked.length; i++) {
            statementIdList.push($checked[i].value);
        }
        return statementIdList;
    }


</script>
<th:block th:replace="common/fragments/left-navbar" :: LeftNavbarFragment></th:block>
<th:block th:replace="common/fragments/header-fragment" :: headerFragment></th:block>
<div class="content-area">
    <h2>배송기사 Test-App</h2>
    <hr>
    <div style="margin-top : 20px;">
        <div class="input-group" style="width : 25%; margin-right: 4%; float: left;">
            <!--            <span class="input-group-text">모델코드</span>-->
            <!--            <input name="modelCord" type="text" class="form-control">-->
            <select onchange="staffNameList()" name="tc" class="form-select">
                <option value="0" selected>TC</option>
                <option th:each="tc : ${tcList}"
                        th:value="${tc.tc}"
                        th:text="${tc.tc} +'-'+ ${tc.deliveryArea}">
                </option>
            </select>
        </div>
        <div class="input-group" style="width : 25%; margin-right: 4%; float: left;">
            <!--            <span class="input-group-text">모델코드</span>-->
            <!--            <input name="modelCord" type="text" class="form-control">-->
            <select name="staffName" class="form-select" onchange="staffNameList()">
            </select>
        </div>
        <!--        <div class="input-group" style="width : 54%; margin-right: 4%; float: left;">-->
        <!--            <span class="input-group-text">기사명</span>-->
        <!--            <input name="staffName" type="text" class="form-control">-->
        <!--        </div>-->

        <!--        <button style="width : 13%;" onclick="searchOrder()" class="btn btn-primary">검색</button>-->
        <button style="width : 13%;" onclick="searchDelivery()" class="btn btn-primary">검색</button>
        <script>
            const staffNameList = () => {
                const tc = $('select[name="tc"]').val();
                $.ajax({
                    url: `/api/deliveryStaff/list?tc=${tc}`,
                    type: 'get',
                    success: function (result) {
                        console.log(result);
                        let txt = '';
                        if (result.result.length === 0) {
                            txt = '없음';
                        } else {
                            result.result.forEach((item, idx) => {
                                txt += `<option value="${item.id}">${item.staffName}</option>`;
                            })
                        }
                        $('select[name="staffName"]').empty().append(txt);
                    },
                    error: function (err) {
                        console.log(err);
                    }
                })
            }
            const selectDeliveryInfoListByStaffId = () => {
                const tc = $('select[name="tc"]').val();
                const staffName = $('select[name="staffName"]').val();
                $.ajax({
                    url: '/api/delivery/list/forStaff',
                    type: 'get',
                    dataType: 'json',
                    success: function (result) {
                        console.log(result);
                    },
                    error: function (err) {
                        console.log(err)
                    }
                })
            }

        </script>
    </div>
    <div style="margin-top : 50px;">
        <style>
            .container-table {
                min-width: 1000px; /* 원하는 너비 */
                min-height: 200px; /* 원하는 높이 */
                overflow-x: auto; /* 스크롤바 표시 */
            }

            table {
                width: 3000px;
                /*width: 100%; !* 부모 컨테이너에 맞게 테이블 너비 조정 *!*/
            }

            td, th {
                white-space: nowrap; /* 줄 바꿈 방지 */
            }

            th {
                z-index: 1;
            }

            thead {
                position: sticky;
                top: 0;
                background-color: white;
            }
        </style>
        <div class="container-table">
            <table class="table">
                <thead>
                <tr>
                    <!--                    <th><input id="all-check" class="form-check-input" type="checkbox"></th>-->
                    <th>납품번호</th>
                    <th>고객명</th>
                    <th>배송요청일</th>
                    <th>배송완료일</th>
                    <th>배송상태</th>
                    <th>수정</th>
                </tr>
                </thead>
                <tbody>
                </tbody>
            </table>

        </div>
    </div>

</div>

</body>
<script>

    const searchDelivery = () => {

        let staffId = $('select[name="staffName"]').val();
        // const params = {
        //     staffId: staffName,
        // }

        $.ajax({
            type: 'GET',
            url: '/api/delivery/list?staffId='+staffId,
            dataType: 'json',
            // contentType: 'application/json',
            // data: JSON.stringify(params),
            success: (result) => {
                console.log(result);
                let txt = '';
                result.result.forEach((item, idx) => {
                    txt += `<tr>`;
                    txt += `<td><a href="/api/delivery/info?deliveryId=${item.deliveryId}">${item.deliveryId}</a></td>`
                    txt += `<td>${item.customerName}</td>`;
                    txt += `<td>${item.expectedDeliveryDt}</td>`;
                    txt += `<td>${item.deliveryCompletionDt}</td>`;
                    txt += `<td>${deliveryState(item.deliveryId,item.deliveryState)}</td>`;
                    txt += `<td><button onclick="updateDeliveryState(${item.deliveryId})" class="btn btn-primary">수정</button><td>`;
                    txt += `</tr>`;
                })
                $('tbody').empty().append(txt);

            },
            error: (err) => console.log
        })
    }

    const deliveryState =(deliveryId,state)=>{
        console.log(deliveryId,state);
        let txt = '';
        txt += `<select class="form-select ${deliveryId}" style="width : 120px;">`;
        txt += `<option ${state === '배송준비' ? 'selected' : ''} value="1">배송준비</option>`;
        txt += `<option ${state === '출고'    ? 'selected' : ''} value="2">출고</option>`;
        txt += `<option ${state === '배송완료' ? 'selected' : ''} value="3">배송완료</option>`;
        txt += `<option ${state === '연기'    ? 'selected' : ''} value="4">연기</option>`;
        txt += `<option ${state === '반품'    ? 'selected' : ''} value="5">반품</option>`;
        txt += `</select>`;
        return txt;
    }
    const updateDeliveryState =(deliveryId)=>{
        const $deliveryState = $('select.'+deliveryId);
        const deliveryStateUpdateParam = {
            deliveryId : deliveryId,
            reqState : $deliveryState.val(),
        }
        console.log(deliveryStateUpdateParam);
        // return
        $.ajax({
            type : 'POST',
            url : '/api/delivery/update/state',
            data : JSON.stringify(deliveryStateUpdateParam),
            dataType : 'json',
            contentType : 'application/json',
            success : (result)=>{
                console.log(result);
                searchDelivery();
            },
            error : (err)=>{console.log(err);}

        })


    }

</script>


</html>